{% extends "base.html" %}

{% block title %}
Digi-Pay
{% endblock %}
{% block content %}
<h1 style="text-align: center">Welcome to Digi-Pay</h1>

<div class="container">
<center><div class="square"><span class="cont" style="font-size: 24px;line-height: 0.4;font-weight: 500;font-style: normal;"><a href="user_info"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> User Info</a<span class="glyphicon glyphicon-search" aria-hidden="true"></span> ></span></div></center>
<center><div class="square" style="margin-top: 20px;"><span class="cont" style= "line-height: 0.4;font-weight: 500;font-style: normal;"><a href="balance" style="font-size: 24px;"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add balance</a></span></div></center>
<center><div class="square" style="margin-top: 20px;"><span class="cont" style="font-size: 24px;line-height: 0.4;font-weight: 500;font-style: normal;"><a href="payment"><span class="glyphicon glyphicon-sort" aria-hidden="true"></span> Payments</a></span></div></center>
<center><div class="square" style="margin-top: 20px;"><span class="cont" style="font-size: 24px;line-height: 0.4;font-weight: 500;font-style: normal;"><a href="user_contact"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> User Contacts</a></span></div></center>
{% include 'flash.html' %}
<!-- <div id="square"></div> -->
</div>
{% endblock %}
