{% extends "base.html" %}

{% block title %}
Digi-Pay
{% endblock %}
{% block content %}
<form class="form-userinfo" method="POST" >
    <h1>User Details</h1>
    <div class="w3-padding w3-white notranslate">
        <div class="table-responsive">
            <table class="table table-hover">
                {% for tuser in curr_user %}
                <tr>       
                    <th>Name</th>
                    <td>{{tuser['Name']}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{tuser['Email']}}</td>
                </tr>

                <tr>
                    <th>Username</th>
                    <td>{{tuser['Username']}}</td>

                </tr>
               <!--  <tr><td><hr></td></tr> -->
                {% endfor %}
            </table>

        </div>
    </div>
    <hr style="margin-top: 100px;" class="style-two">
</form>



{% endblock %}
